@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.body{
    font-family: 'Source Sans 3', sans-serif;
}
.container{
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 200px auto; /* Centra el formulario horizontalmente y agrega margen superior e inferior */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
    
.container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #0E264A;
    font-size: 50px;
}
    
/* Estilo para las etiquetas de los campos */
.container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}   
.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    
.container .radio-group {
    margin-bottom: 16px;
}
    
.container .radio-group label {
    display: inline-block;
    margin-right: 15px; /* Espacio entre los botones de radio */
    font-weight: normal;
}
    
.container input[type="radio"] {
    margin-right: 8px; /* Espacio entre el botón de radio y la etiqueta */
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 24px;
}
    
.btns button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
    
.btn button:hover{
    background-color: #0056b3;
}
    
label span {
    color: red;
}
    
p {
    margin-top: -15;
    margin-bottom: 10;
    color: red;
}
    
    