@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* Estilos generales para el formulario */
body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 150px; /* Ajusta este valor para mover el formulario hacia abajo */
}

/* Estilo para los encabezados */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para los grupos de campos */
.field-group {
    margin-bottom: 15px;
}

.field-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.field-group input,
.field-group select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.field-group input:focus,
.field-group select:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo para el campo de cédula de identidad */
.id-input {
    display: flex;
    align-items: center;
}

#id-select {
    width: 120px; /* Tamaño reducido para el select */
    margin-right: 10px;
}

#id-input {
    flex: 1; /* Ocupa el espacio restante */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilo para los campos de teléfono */
.phone-group {
    margin-bottom: 20px;
}

.phone-group label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.phone-field {
    margin-bottom: 10px;
}

.phone-field label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.phone-input {
    display: flex;
    align-items: center;
}

.phone-input select {
    width: 120px; /* Tamaño reducido para el select */
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.phone-input input {
    flex: 1; /* Ocupa el espacio restante */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.phone-input select,
.phone-input input {
    margin-bottom: 0; /* Elimina el margen inferior */
}

/* Estilo para los botones */
.btns {
    text-align: center;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    width: 48%;
}

button:hover {
    background-color: #218838;
}

button[type="reset"] {
    background-color: #dc3545;
}

button[type="reset"]:hover {
    background-color: #c82333;
}

/* Estilo para el mensaje de campos obligatorios */
span {
    font-size: 14px;
    color: red;
    text-align: center;
}

.btn-cancel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #5a6268;
}

.btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
}