/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* Ajusta el padding superior si el menú es fijo */
    padding-top: 60px; /* Ajusta este valor según la altura del menú */
}

.table-container {
    max-width: 1200px;
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 130px; /* Ajusta este valor para bajar la tabla desde el top */
    overflow-x: auto; /* Permite desplazar horizontalmente si la tabla es muy ancha */
}

.table-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #d72222;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-edit, .btn-delete, .btn-profile {
    background-color: #d72222;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-profile:hover {
    background-color: #3dbd4c;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}